@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --text-color-light: #000;
  --bg-color-light: #fbfbfb;
  --text-color-dark: #fbfbfb;
  --bg-color-dark: #0c0a09;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fbfbfb;
}
  body.dark::-webkit-scrollbar-track {
    background: #0c0a09;
  }
::-webkit-scrollbar-thumb {
  background: #a8a29e;
  border-radius: 5px;
}
  body.dark::-webkit-scrollbar-thumb {
    background: #44403c;
  }
::-webkit-scrollbar-thumb:hover {
  background: #78716c;
}
  body.dark::-webkit-scrollbar-thumb:hover {
    background: #57534e;
  }

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

body {
  color: var(--text-color-light);
  background-color: var(--bg-color-light);
}
  body.dark {
    color: var(--text-color-dark);
    background-color: var(--bg-color-dark);
  }

main,
.dot-mask div,
.dot-pattern {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot-mask {
  left: 0;
  top: 0;
}

.dot-pattern {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, #f5f5f4 1px, transparent 1px),
    linear-gradient(to bottom, #f5f5f4 1px, transparent 1px);
  background-size: 24px 24px;
  -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 60%,
    transparent 100%
  );
}
  body.dark .dot-pattern {
    background-image: linear-gradient(to right, #14120f 1px, transparent 1px),
      linear-gradient(to bottom, #14120f 1px, transparent 1px);
  }

section {
  margin-top: 3rem;
}

h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.1em;
  margin-block: 1rem;
}
h3 {
  font-size: 1em;
}

.links {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

a {
  text-decoration: underline;
  text-decoration-color: #a8a29e;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  display: flex;
  align-items: center;
}
  a svg {
    margin-left: 0.25rem;
  }
  a:hover {
    color: #000;
    text-decoration-color: #000;
    cursor: pointer;
  }
  body.dark a:hover {
    color: #fbfbfb;
    text-decoration-color: #fafaf9;
  }

.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
}

.text-muted {
  color: #44403c;
}
  body.dark .text-muted {
    color: #d6d3d1;
  }

.content {
  max-width: 36rem;
  padding-inline: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 10vh 0 2rem;
}
  .header p {
    margin-top: 0.5rem;
  }

.header h1,
.header p,
.project-card h3,
.project-card p {
  margin: 0;
}

button {
  background-color: #fafaf9;
  border: 1px solid #e4e4e7;
  border-radius: 5px;
  color: inherit;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-toggle {
  width: 2.5rem;
  height: 2.5rem;
}
  #theme-toggle:hover {
    background-color: #f5f5f5;
  }
  body.dark #theme-toggle {
    background-color: #1c1917;
    border-color: #292524;
  }
  body.dark #theme-toggle:hover {
    background-color: #292524;
  }

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  background-color: #fafaf9;
  border: 1px solid #e4e4e7;
  border-radius: 5px;
  padding: 1rem;
}
  body.dark .project-card {
    background-color: #171312;
    border-color: #292524;
  }

.tech-stack {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
  .tech-stack .dot:not(:first-child) {
    margin-left: 1rem;
  }
  .tech-stack .dot:not(:last-child) {
    margin-right: 0.3rem;
  }

.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.react {
  background-color: #06b6d4;
}
.python {
  background-color: #0ea5e9;
}
.fastapi {
  background-color: #14b8a6;
}
.java {
  background-color: #d97706;
}
.springboot {
  background-color: #22c55e;
}
.mysql {
  background-color: #0ea5e9;
}
.csharp {
  background-color: #16a34a;
}
.aspnetcorerazorpages {
  background-color: #8b5cf6;
}
.mssql {
  background-color: #a8a29e;
}
  body.dark .mssql {
    background-color: #78716c;
  }

footer {
  display: flex;
  align-items: center;
  margin: 10vh 0 2rem;
}
  footer svg {
    margin: 0;
  }
  footer span {
    margin-left: 0.5rem;
  }

@media (max-width: 640px) {
  footer,
  .header,
  section {
    margin-block: 2rem;
  }
}

@media (max-width: 768px) {
  .header,
  footer {
    margin-top: 5vh;
  }
  .project-card .links {
    gap: 1rem;
  }
}
